<div class="container">
  <hr>

  <div class="row">
    <div align="center" class="col-md-12 d-flex justify-content-center">
      <ul style="list-style: none;">
        <a href="#" (click)="previousPage()">
          <li
            style="float: left;padding:10px; border:1px solid #000;border-top-left-radius: 25px; border-bottom-left-radius: 25px;">
            anterior</li>
        </a>
        <ng-container *ngFor="let numbers of pages">
          <ng-container *ngIf="numbers <  cantPerPage + 1 && numbers !== totalRegistros">
            <a href="#" (click)="getPageNumber(numbers)">
              <li [className]="numbers === actualPage? 'active': 'inactive'"
                style="float: left;padding:10px; border:1px solid #000">{{numbers}}</li>
            </a>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="totalRegistros > 10 &&  (totalRegistros - cantPerPage) > 1">
          <ng-container *ngIf="actualPage <= cantPerPage || actualPage === (totalRegistros + 1) ">
            <li style="float: left;padding:10px; border:1px solid #000">...</li>
          </ng-container>
        </ng-container>


        <ng-container *ngIf="actualPage > cantPerPage && actualPage < totalRegistros">
          <a href="#" (click)="getPageNumber(actualPage)">
            <li class="active" style="float: left;padding:10px; border:1px solid #000">{{ actualPage}}</li>
          </a>

        </ng-container>

        <a href="#" (click)="getPageNumber(totalRegistros)">
          <li [className]="totalRegistros === actualPage? 'active': 'inactive'"
            style="float: left;padding:10px; border:1px solid #000">{{totalRegistros}}</li>
        </a>
        <a href="#" (click)="nextPage()">
          <li
            style="float: left;padding:10px; border:1px solid #000;border-top-right-radius: 25px; border-bottom-right-radius: 25px; ">
            Siguiente</li>
        </a>

      </ul>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-md-12 d-flex justify-content-center">
      Cantidad de registros: {{ totalRegistros}}
    </div>

  </div>
</div>